 * {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
 }

 .row.no-pad {
     margin-right: 0;
     margin-left: 0;
 }

 .row.no-pad>[class*='col-'] {
     padding-right: 0;
     padding-left: 0;
 }

 body {
     background-color: rgb(245, 245, 194);
 }

 .containerfluid {
     width: 100%;
 }

 .nav {
     width: 100%;
     color: black;
 }

 .navbar {
     background-color: rgb(235, 215, 215);
     color: black;

 }

 .h1-nav a {
     color: rgb(255, 255, 255);
     text-shadow: 0px 0px 13px rgb(18, 19, 18);
 }

 .h1-sucu {
     height: 35px;
     margin-top: -10px;
 }

 .h1-nav {
     margin-bottom: -8px;
     bottom: 0;
     font-family: Arial, Helvetica, sans-serif;

     text-align: center;
     color: rgb(250, 250, 250);
     font-size: 2.1em;
     font-weight: 550;
 }

 .bg-color-botones {
     background-color: rgb(233, 168, 39);
 }

 .bg-color-barra {
     background-color:  rgb(233, 168, 39);
 }

 .menu-cel {
     margin-top: 3vh;
     height: 81vh;
     width: 100vw;
     list-style: none;
     display: grid;
 }

 .menu-cel li {
     font-size: 1.9em;
     text-align: center;

     width: 100%;
 }

 .cont-nav {
     width: 100%;
     align-items: flex-end;
 }

 a {
     text-decoration: none;
 }

 li a {
     color: white;
     text-shadow: 0px 0px 10px rgb(255, 255, 255);
     text-decoration: none;
 }

 a:hover {
     color: rgb(16, 218, 49);
 }


 .div-main {
     height: 100vh;
 }

 /* Comienza MAIN */
 .inicio-h2 {
     font-size: 2.5em;
     font-weight: 600;
     font-family: "roboto";
     color: rgb(56, 56, 25);
     text-shadow: 0px 0px 50px rgb(245, 235, 235);
     text-align: center;
     
 }

 .boton-nav {
     border: 4px solid;
 }

 .carousel {
     width: 100%;
 }

 .img-carousel {
    align-self: flex-start;
     height: 50vh;
     width: auto;
     border: 3px solid rgb(243, 250, 243);
     box-shadow: 0px 0px 10px rgb(109, 184, 109);
     border-radius: 10px;
 }

 /* Comienza Footer */

 footer {
     width: 100%;
     color: wheat;
     background-color: black;
     font-size: 1.2em;
     text-shadow: 0px 0px 18px rgb(238, 238, 243);

     bottom: 0;
 }

 .iconos-footer {
     display: flex;
     justify-content: center;
 }

 footer div {
     text-align: center;
     font-size: 1.1em;
 }

 .wpp-ico {
     height: 40px;
     margin-right: 1vw;
 }

 .ig-ico {
     height: 40px;
     align-self: center;
     margin: 0px 1vw;
 }

 .datos {
     color: white;
 }

 .datoswpp:hover {
     color: rgb(61, 194, 61);
 }

 .datosig:hover {
     color: rgb(224, 67, 177);
 }

 /* Comienza GALERÍA */

 /* .div-galeria {
     width: 100%;
     height: 65vh;
 }
 .paginas-h1 {
     font-family: Arial, Helvetica, sans-serif;
     text-align: center;
     color: rgb(127, 182, 145);
     font-size: 2.3em;
     font-weight: 550;
     text-shadow: 0px 0px 10px rgb(234, 239, 245);
     margin: 20px 0px;
     align-self: center;
     text-align: center;
 } */

 /* Contacto */
 .contacto-body {
     background-image: linear-gradient(to top, rgb(224, 226, 231), rgb(235, 222, 50));
 }

 .cont-mapa {
     width: 100%;
     display: flex;
     flex-wrap: wrap;
     justify-content: center;

 }

 iframe {
     width: 94%;
     height: 32vh;
     align-self: center;
 }

 .formulario-mapa {
     margin: 3vh 0px;
     display: flex;
     flex-wrap: wrap;
     justify-content: center;
     height: 135vh;
     align-items: space-evenly;
 }

 .form {
     background-color: #15172b;
     border-radius: 20px;
     box-sizing: border-box;
     height: 74vh;
     padding: 20px;
     width: 320px;
     display: flex;
     flex-wrap: wrap;
 }

 .title {
     color: #eee;
     font-family: sans-serif;
     font-size: 1.1em;
     font-weight: 600;
     text-align: center;
     text-shadow: 0px 0px 15px white;
 }

 .subtitle {
     color: #eee;
     font-family: sans-serif;
     font-size: 16px;
     font-weight: 600;
     margin-top: 10px;
 }

 .input-container {
     height: 50px;
     position: relative;
     width: 100%;
 }

 .ic1 {
     margin-top: 40px;
 }

 .ic2 {
     margin-top: 30px;
 }

 .input {
     background-color: #b9bfda;
     border-radius: 12px;
     border: 0;
     box-sizing: border-box;
     color: #eee;
     font-size: 18px;
     height: 100%;
     outline: 0;
     padding: 4px 20px 0;
     width: 100%;
 }

 .cut {
     background-color: #15172b;
     border-radius: 10px;
     height: 20px;
     left: 20px;
     position: absolute;
     top: -20px;
     transform: translateY(0);
     transition: transform 200ms;
     width: 76px;
 }

 .cut-short {
     width: 50px;
 }

 .input:focus~.cut,
 .input:not(:placeholder-shown)~.cut {
     transform: translateY(8px);
 }

 .placeholder {
     color: #000000;
     font-family: sans-serif;
     left: 20px;
     line-height: 14px;
     pointer-events: none;
     position: absolute;
     transform-origin: 0 50%;
     transition: transform 200ms, color 200ms;
     top: 20px;
     text-shadow: 0px 0px 20px rgb(14, 236, 26);
 }

 .input:focus~.placeholder,
 .input:not(:placeholder-shown)~.placeholder {
     transform: translateY(-30px) translateX(10px) scale(0.75);
 }

 .input:not(:placeholder-shown)~.placeholder {
     color: #808097;
 }

 .input:focus~.placeholder {
     color: #dc2f55;
 }

 .submit {
     background-color: #08d;
     border-radius: 12px;
     border: 0;
     box-sizing: border-box;
     color: #eee;
     cursor: pointer;
     font-size: 18px;
     height: 50px;
     margin-top: 20px;
     outline: 0;
     text-align: center;
     width: 100%;
 }

 .submit:active {
     background-color: #06b;
 }

 .maptit {
     padding: 10px;
     font-size: 2.2em;
     text-align: center;
     color: rgb(25, 66, 153);
     text-shadow: 0px 0px 20px #eee;

 }

 /* Animaciones */
 .anim-carousel {
     animation-duration: 3.6s;
     animation-name: slidein;
 }


 @keyframes slidein {
     from {
         margin-left: 100%;
         width: 300%
     }

     to {
         margin-left: 0%;
         width: 100%;
     }
     
 }
 #delay {
    font-size: 2.4em;
    transition-property: font-size;
    transition-duration: 4s;
    transition-delay:2s;
  }
  
  #delay:hover {
    font-size: 2.1em;
    color: rgb(38, 204, 60);
  }

  .form iframe{
    
    transition: height 2.2s;
  }
  .form:hover, iframe:hover{
    height: 95vh;
  }

 @media only screen and (min-width: 992px) {

     .div-main {
         height: 80vh;
     }

     .menu-cel {
         display: none;
     }

     .menu-pc {
         list-style: none;
         display: flex;
         width: 80%;
         justify-content: space-evenly;
         margin-top: 25px;
     }

     .menu-pc li {
         font-size: 1.5em;
     }

     .h1-sucu {
         height: 40px;
         margin-top: -10px;
     }

     .div-galeria {
         height: 63vh;
     }

     .img-carousel {
         height: 65vh;
     }

     footer {
         display: flex;
         flex-direction: row-reverse;
         justify-content: center;
     }

     .iconos-footer {
         margin-left: 20px;
     }

     .ig-ico {
         margin-left: 20px;
     }

     .inicio-h2 {
         font-size: 2.2em;
     }

     /* Media Contacto */
     .formulario-mapa {
         width: 100%;
         margin: 0;
         flex-wrap: nowrap;
         height: 92vh;
         align-items: center;
         justify-content: space-evenly;
     }

     .form {
         height: 89vh;
     }

     iframe {
         margin-top: 5.5vh;
         width: 80%;
         height: 60vh;

     }

     .cont-mapa {
         align-self: flex-start;
         width: 50vw;

     }

     .title {
         font-size: 2.1em;
     }
 }